section {
    padding: 3rem 0 5rem 0;
}

.technologies-title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
}

.project-image {
    max-width: 100%;
    margin: 2rem 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-view-online {
    text-decoration: none;
}

.btn-view-online:focus {
    box-shadow: none !important;
}
