section {
    padding: 3rem 0 5rem 0;
}

.project-row .project-timeline .timeline-date {
    margin-top: 2.45rem;
    margin-right: 1rem;
    height: 106%;
    text-align: right;
    border-right: 1px solid #6c757d;
    position: relative;
}

.project-row:first-child .project-timeline .timeline-date {
    margin-top: 0.45rem;
}

.project-row .project-timeline .timeline-date .timeline-date-element {
    position: absolute;
    right: -0.62rem;
}

.project-row .project-content {
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1px solid #aaa;
}

.project-row:first-child .project-content {
    padding-top: 0;
}

.project-row:last-child .project-content {
    padding-bottom: 0;
    border-bottom: 0;
}

.project-image {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-more-details {
    text-decoration: none;
}

.btn-more-details:focus {
    box-shadow: none !important;
}

.technologies-title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
}
